* {
  margin: 0;
  padding: 0;
}

.product-detail {
  margin: 60px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.product-detail-image{
  width: 500px;
  box-shadow: 0px 0px 3px 1px #CECECE;
}

.price{
  font-size: 40px;
  margin: 10px auto;
  width: 50%;
  color: red;
}

.prod-details-name {
  margin: 0px auto;
  font-size: 24px;
  font-weight: bold;
  padding: 1px;
  /* margin-left: -20px; */
}

.button-add-to-card {
  box-shadow: 0px 2px 2px 0px gray;
  font-weight: 600;
  width: 25%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  background-color: rgb(231,127,39);
  margin-top: 80px;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.button-add-to-card:hover{
  background-color: rgb(245,202,123);
}
.button-add-to-card:focus{
  background-color: rgb(245,202,123);
}

.link-prod-detail {
  color: rgb(245, 242, 223);
}

.incremCart {
  margin-top: 180px;
  font-size: 84px;
  color: red;
}